%h2{ id: project.key }= project.name

%h3  Description

:markdown
  #{project.description}

%h4 Assignments

%table.table
  - if project.owners.any?
    %tr
      %td Product owners
      %td
        = partial 'assignment', locals: { assignments: project.owners }

  - if project.maintainers.any?
    %tr
      %td Maintainers
      %td
        = partial 'assignment', locals: { assignments: project.maintainers }

  - if project.reviewers.any?
    %tr
      %td Reviewers
      %td
        = partial 'assignment', locals: { assignments: project.reviewers }

%h4 Location

%ul
  %li
    = link_to project.link, project.link

- if project.mirrors.any?
  %h4 Mirrors

  %ul
    - project.mirrors.each do |mirror_url|
      %li= link_to mirror_url, mirror_url
